/* Write your CSS here */
.not-found-container-dark {
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100%;
}
.not-found-container-light {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.not-found-heading-light {
  color: #334155;
}
.not-found-para-light {
  color: #64748b;
}
.not-found-img {
  width: 350px;
}
