/* Write your CSS here */
.bg-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 100%;
  min-height: 100vh;
}
.bg-container-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #171f46;
  font-weight: bold;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}
.main-image {
  width: 150px;
}
